*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    margin: auto;
    background-color: #f0f4f5;
    overflow: hidden;
}

nav {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    list-style: none;
    font-weight: 600;
}

nav ul li:first-child{
    color: #008000;
}

/* hero section */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.leftsection{
    position: relative;
    margin-left: 5%;
}

.topAngle{
    width: 25px;
}

.leftsection h1{
    font-size: 70px;
}

.leftsection p{
   color: #808080;
   font-size: 18px;
   margin: 20px 0px;
}

.bottomAngle{
    position: absolute;
    width: 25px;
    right: 25px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -200px;
    left: 240px;
    z-index: -1;
}

.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px
}

.leftsection button {
    background-color: #008000;
    color: #f0f4f5;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
}

/* right section */

.greenBox, .yellowBox {
    position: absolute;
    right: 0;
}

.greenBox{
 width: 35%;
 bottom: 0px;
}

.yellowBox{
 width: 30%;
 bottom: 20px;
 right: -15px;
}

.doctor{
    position: absolute;
    right: 10px;
    bottom: 0;
    height: 90%;
}